/*COLORS */


/* FONT FAMILIES */
$FONT_FAMILY_OPEN_SANS : 'open_sans';


$MEDIA_QUERY_DESKTOP_MIN : 992px;
$MEDIA_QUERY_TABLET_MAX : 991px;
$MEDIA_QUERY_TABLET_MIN : 769px;
$MEDIA_QUERY_MOBILE_MAX : 768px;