/**
##################################################################
Change the main Admin Panel color according to the relevant team;
##################################################################
**/
$RESTART_TEAM : 'group';



/*COLORS */
$RESTART_STUDIO_MAIN_COLOR :#ef4036;
$RESTART_DEV_MAIN_COLOR : #2ab77c;
$RESTART_GROUP_MAIN_COLOR: #A7A9AC;


/* FONT FAMILIES */
$FONT_FAMILY_OPEN_SANS : 'open_sans';


/* MEDIA QUERIES */
$MEDIA_QUERY_DESKTOP_MIN : 993px;
$MEDIA_QUERY_TABLET_MAX : 992px;
$MEDIA_QUERY_TABLET_MIN : 768px;
$MEDIA_QUERY_MOBILE_MAX : 767px;



@if($RESTART_TEAM == "group"){
  $mainAdminColor : $RESTART_GROUP_MAIN_COLOR
}
@else if($RESTART_TEAM == "studio"){
  $mainAdminColor : $RESTART_STUDIO_MAIN_COLOR;
}
@else if($RESTART_TEAM == "dev"){
  $mainAdminColor : $RESTART_DEV_MAIN_COLOR ;
}
@else {
  $mainAdminColor : $RESTART_GROUP_MAIN_COLOR;
}

