/**
##################################################################
Change the main admin panel color according to the relevant team;
##################################################################
**/
$RESTART_TEAM : 'group';


/*COLORS */


/* FONT FAMILIES */
$FONT_FAMILY_OPEN_SANS : 'open_sans';


/* MEDIA QUERIES */
$MEDIA_QUERY_DESKTOP_MIN : 993px;
$MEDIA_QUERY_TABLET_MAX : 992px;
$MEDIA_QUERY_TABLET_MIN : 768px;
$MEDIA_QUERY_MOBILE_MAX : 767px;



@if($RESTART_TEAM == "group"){
  $mainAdminColor : #A7A9AC;
}
@else if($RESTART_TEAM == "studio"){
  $mainAdminColor : #ef4036;
}
@else if($RESTART_TEAM == "dev"){
  $mainAdminColor : #2ab77c;
}
@else {
  $mainAdminColor : #A7A9AC;
}

