
@mixin setBackground($image,$size,$position,$repeat:no-repeat){
  background-image: url('../images/' + $image);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}


@mixin setBackgroundImage($image){
  background: url('../images/' + $image)  no-repeat;;

}


@mixin importFont($fontFamily,$fileName,$fontWeight){
  @font-face {
    font-family: $fontFamily;
    src: url("../fonts/" + $fileName + ".ttf") format('truetype');
    font-weight: $fontWeight;
  }
}